footer {
  width: 100%;
  height: 100px;
  padding: 15px;
  display: grid;
  place-items: center;

  background: rgb(194, 228, 230);
  background: linear-gradient(
    356deg,
    rgba(194, 228, 230, 1) 0%,
    rgba(157, 51, 255, 1) 100%
  );

  & > .content {
    width: 100%;
    max-width: 1280px;
    display: grid;

    & > .logo {
      font-family: "Raina Personal Use", sans-serif !important;
      font-size: 40px;
      background: rgb(194, 228, 230);
      background: linear-gradient(
        356deg,
        rgba(194, 228, 230, 1) 0%,
        rgba(157, 51, 255, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #ffffff; /* Толщина и цвет обводки */
      text-stroke: 1px #ffffff; /* Толщина и цвет обводки (стандартное свойство) */
    }
  }
}
