<form [formGroup]="filterForm">
    <input
      type="text"
      name=""
      id=""
      formControlName="search"
      (input)="getItems()"
    />
    <select name="" id="" formControlName="gender" (change)="getItems()">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </form>
  
  <ul class="heroes">
    <li *ngFor="let item of this.getResults()" (click)="detail(item.id)">
      {{ item.name }}
    </li>
  </ul>
  
  <div class="navigation">
    <button (click)="getItemsByUrl(getPrevPage())">prev</button>
    <button (click)="getItemsByUrl(getNextPage())">next</button>
  </div>
  
  <!-- <app-modal [item]="currentItem"></app-modal> -->
  <!-- <router-outlet></router-outlet> -->

  <!-- <router-outlet></router-outlet> -->
  
