<main>
  <div class="wrap">
    <form [formGroup]="filterForm">
      <input
        type="text"
        name=""
        id=""
        formControlName="search"
        (input)="getItems()"
      />
      <select name="" id="" formControlName="gender" (change)="getItems()">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </form>
  
    <div class="items">
      <div
        class="item-card"
        *ngFor="let item of this.getResults()"
        (click)="detail(item.id)"
      >
        <img src="{{ item.image }}" alt="" />
        <p class="name">{{ item.name }}</p>
      </div>
    </div>
  
    <div class="navigation">
      <button (click)="getItemsByUrl(getPrevPage())">
        <span class="material-symbols-outlined"> arrow_back_ios_new </span>
      </button>
      <button (click)="getItemsByUrl(getNextPage())">
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </div>
  
</main>
