<div class="slider">
  <div class="arrows">
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
    <div class="special"></div>
    <div class="info">
      <h1>{{ getCurrentTitle() }}</h1>
      <p class="species">{{ getCurrentSpecies() }}</p>
      <button>Подробнее</button>
    </div>
  </div>

  <!-- <div class="dotsContainer">
      <div
        *ngFor="let slide of slides; let slideIndex = index"
        class="dot"
        (click)="goToSlide(slideIndex)"
      >
        ●
      </div>
    </div> -->
</div>
