.wrap {
  width: 100vw;
  max-width: 1280px;
  display: grid;
  gap: 50px;
  place-items: center;

  & > .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    place-items: center;

    & > img {
        width: 70%;
    }
  }
}
