main {
  width: 100%;
  min-height: calc(100vh - 180px);
  display: grid;
  place-items: center;
  align-items: start;

  & > .wrap {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;

    & > .block2 {
      height: max-content;
      display: grid;
      row-gap: 10px;

      & > .btns {
        margin-top: 50px;

        & > .favorite:hover {
          color: rgb(178, 43, 43);

          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
        }
      }
    }
  }
}
