.wrap {
  width: 100vw;
  max-width: 1280px;
  display: grid;
  place-items: center;
  row-gap: 50px;

  & > p {
    text-align: center;
  }

  & > .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    & > .item-card {
      width: 100%;
      display: grid;
      place-items: center;
      row-gap: 25px;

      & > p {
        font-size: 20px;
        text-align: center;
      }

      & > img {
        width: 50%;
      }

    }
  }

  & > .line {
    width: 30%;
    height: 1px;
    background-color: #393838;
  }
}
